.App {
  text-align: center;
  width: 100% !important;
  padding-left: 0;
  padding-right: 0;
  background-image: url(sunsetbackground.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App .navbar-brand {
  font-weight: bold;
  color: white;
}

.App .navbar {
  background-color: #6ea4bf;
  margin-bottom: 0;
}

.App .NavItem {
  color: black;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: black;
  background-color: orange;
}
.navbar-default .navbar-nav>li>a:hover {
  color: orange;
}

.App-header {
  background-color: #6ea4bf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App #navLogo {
  max-width: 115px;
}

.App-link {
  color: #61dafb;
}

