.Home .lander {
    padding: 80px 0;
    text-align: center;
}

.Home .lander h1 {
    font-weight: 600;
}

.Home .lander p {    
    color: black;
}

.Home .lander .aboutUs {
    margin-left: 12%;
    margin-right: 12%;
}

.Home .lander .howItWorks {
    margin: 80px 0px 20px 0px;
    background-color: #6ea4bf;
}

.Home .lander .howPic {
    max-width: 100%;
    margin: 20px 0px 20px 0px;
}
