@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

.Home {
    text-align: center;
    font-family: 'Comfortaa';
}

.Home .lander h1 {
    font-size: 100px;
}

.Home .lander .aboutUs {
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(255, 202, 44);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    padding: 15px;
    font-weight: bold;
}

.Home .lander .howItWorks {
    margin: 80px 0px 20px 0px;
    background-color: #6ea4bf;
}

.Home .lander .howPic {
    max-width: 100%;
    margin: 20px 0px 20px 0px;
}
