FLASK_APP=app/router.py
FLASK_ENV=development

OPTIMISM_DB_HOST="localhost"
OPTIMISM_DB_PORT="27017"
OPTIMISM_DB_USER="admin"
OPTIMISM_DB_PASSWORD="password"
OPTIMISM_DB_NAME="test"

OPTIMISM_AUTH0_DOMAIN="{YOUR AUTH0 DOMAIN}"
OPTIMISM_API_IDENTIFIER="{YOUR AUTH0 API IDENTIFIER}"
