.pageTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

body {
    height: 100%;
    width: 100%;
}

.factorChoices {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

.options {    
    font-size: 20pt;
    margin: 10px;
    width: 33%;
}



.buttonFooter {
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
}