@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

.homepage {
    text-align: center;
    font-family: 'Comfortaa';
    color: rgb(0, 0, 0);
}

.banner {
    max-width: 40%;
}

.homepage .description {
    font-size: 40px;
    font-weight: 500;
    margin-left: 15%;
    margin-top: 30px;
    text-align: left;
    margin-bottom: 100px;
}

.homepage .how {
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    background-color: grey;
}

.homepage .howClipArt {
    text-align: right;
    max-width: 100%;
}

