@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

.Home {
    text-align: center;
    font-family: 'Comfortaa';
}

.Home .banner {
    max-width: 40%;
    padding: 20px;
}

.Home .lander .description .quote {
    padding: 10px;
    padding-bottom: 0px;
}

.Home .lander .description {
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(255, 202, 44);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    /* padding: 15px; */
}

.Home .lander .demo {
    margin: 80px 0px 20px 0px;
    background-color: #ffff
}

.Home .lander .howBody {
    margin: 40px;
}

.Home .lander .demo_pic {
    max-width: 100%;
    margin: 20px 0px 20px 0px;
}

