@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

.homepage {
    text-align: center;
    font-family: 'Comfortaa';
    color: rgb(0, 0, 0);
}

.banner {
    max-width: 40%;
}

.homepage .description {
    font-size: 40px;
    font-weight: 500;
    margin-left: 15%;
    margin-top: 30px;
    text-align: left;
    margin-bottom: 100px;
}

.homepage .how {
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5px 1fr 5px 1fr;
}

.condiv {
    padding: 4px;
    text-align: center;
    border-style: solid;
    border-color: black;
    width: 25%;
    border-radius: 12px;
    background-color: white;
    margin: 8px;
}

.mood {
    max-width: 60%;
}

.act {
    max-width: 60%;
}

.chart {
    max-width:60%;
}

.arrow {
    position: relative;
    top: 40%;
    height: 80px;
    max-width: 70px;
}

.how .howbody {
    margin-top: 30px;
    margin-bottom: 25px;
}

