.pageTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.moodChoices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
}

.options {
    font-size: 24pt;
}