.pageTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Comfortaa';
    margin-top: 50px;
    margin-bottom: 50px;
}

body {
    height: 100%;
    width: 100%;
}

.moodChoices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.options {
    font-size: 24pt;
}

.buttonFooter {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.factorChoices {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.factorCol{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
